body {
  background-color: #3264AF;
  padding: 60px 20px;
}

.container {
  background-image: url(./images/wallpaper-floresta.webp);
  padding: 20px;
  height: 697px;
  font-size: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__title {
  font-family: 'Paytone One', sans-serif;
  font-weight: bold;
  color: #FFCC01;
  -webkit-text-stroke: 0.1rem #3264AF;
  margin-bottom: 40px;
}

.container__register {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.container__formInput {
  padding: 16px;
  border-radius: 10px 0 0 10px;
  border: none;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  width: 100%;
  outline: none;
}

.container__formInput::placeholder {
  font-style: italic;
}

.container__formBtn {
  background-color: #FFFFFF;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  padding: 5px 20px;
}

.container__formBtn:hover {
  background-color: #ffffff8e;
}

.card-pokemon {
  background-color: #DBF6DB;
  border-radius: 20px;
  padding: 20px 0;
  box-shadow: 0 1px 2px rgb(0 0 0 / 2%), 0 2px 4px rgb(0 0 0 / 2%), 0 4px 8px rgb(0 0 0 / 2%), 0 8px 16px rgb(0 0 0 / 2%), 0 16px 32px rgb(0 0 0 / 2%), 0 32px 64px rgb(0 0 0 / 2%);
  margin-bottom: 20px;
}

.card-img {
  padding: 0 20px;
}

.img-pokemon {
  height: 250px;
  width: 250px;
}

.box-btn {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-actions {
  background-color: #FFCC01;
  color: #3264AF;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.name-pokemon {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

@media (min-width: 360px) {
  .container__title {
    font-size: 56px;
  }
}

@media (min-width: 720px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .container__register {
    justify-content: center;
  }

  .container__formInput {
    max-width: 60%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 30%;
  }
}
